*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
bin
build
develop-eggs
coverage
downloads
eggs
fake-eggs
parts
dist
.installed.cfg
.mr.developer.cfg
var
.hg
.bzr
.svn
*.pyc
*.pyo
*-ck.js
.codeintel
etc/*.conf
etc/vhosts/*.conf
src/ade25.fabfiles
.DS_Store
fabfile.py
.Python
# Enable nginx specific settings
!cache_control_assets.conf
!disable_logging.conf
!proxy_settings.conf